
<div style="width:500px;float:left;">{{high-charts content=chartData chartOptions=chartSettings class="quotes"}}</div>
<div style="float:left;font-size:12px">
<ul>
{{#each sortedQuotes as |quote|}}
		<li> {{quote.tickerSymbol}} | {{quote.price}} | {{quote.prettyDateString}} </li>
{{/each}}
</ul>
</div>